<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>URL WARS!</title>
		<style>
			html, body { margin: 0; padding: 0; width: 100%; height: 100%; overflow:
			hidden; }
		</style>
	</head>
	<body>
		<!-- Canvas element that uses entire viewport -->
		<canvas id="canvas"></canvas>

		<!-- JavaScript -->
		<script type="module" src="js/main.js"></script>
	</body>
</html>